

:root {
    /* Special */
    --transback: rgba(30, 30, 30, 0.8);
    --transheader: rgba(17, 17, 17, .50);
    --background: #1d2021;
    --main: var(--color4);
    --foreground: #fbf1c7;
    --info: var(--color2);
    --stats: var(--color3);
    --tableBorder: rgba(255, 255, 255, .6);

    /* Colors */
    --color0: #282828;
    --color1: #fb4934;
    --color2: #b8bb26;
    --color3: #fabd2f;
    --color4: #83a598;
    --color5: #d3869b;
    --color6: #8ec07c;
    --color7: #A89984;
    --color8: #928374;
}
