@import "/static/css/colors.css";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro&display=swap');

:root {
    line-height: 1;
    font-family: Source Sans Pro;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
}
.notebuttons {
    display: grid;
    grid-column-gap: 5px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth;
}
pre {
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: normal;
    white-space: pre-wrap;
    word-break: break-all;
    width: 100%;
}
.button {
    border: none;
    padding: 5px;
    width: 25px;
    background: var(--background);
    color: var(--main);
    text-transform: uppercase;
}
.newnotebutton {
    background: var(--main);
    border: none;
    text-transform: uppercase;
}
.newnotetextbox {
    background: var(--color0);
    color: var(--foreground);
    border: none;
    padding: 5px;
    font-size: 1.6rem;
    min-height: 48px;
    max-height: 96vh;
    outline: none;
    resize: vertical;
}
.newnotetextbox::placeholder {
    color: var(--color2);
    text-align: center;
    vertical-align: center;
}
.addnoteform {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 50px;
    grid-column-gap: 5px;

}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url(/static/img/bg.jpg);
    #background: radial-gradient( ellipse at center,  rgba(87,108,117,1) 0%, rgba(37,50,55,1) 100.2% ) center center/cover no-repeat fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    backdrop-filter: blur(20px);
}
.content {
    display: grid;
    grid-row-gap: 20px;
    width: 80%;
    padding: 10px;
}
.theme {
    box-shadow: -2px 2px 25px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--transback);
    text-align: center;
    white-space: normal;
    color: var(--foreground);
    overflow: hidden;
    height: inherit;
    font-size: 1.2rem;
}

/* Main Containers */
.container {
    display: grid;
    padding: 5px;
}
.container.notebox {
    padding: 0;
}
.container .notelist {
    max-height: 65vh;
    display: grid;
    grid-row-gap: 10px;
    overflow: auto;
    width: 100%;
}

.container .note {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main);
}
.container .note .header{
    display: flex;
    background-color: var(--main);
    justify-content: space-between;
}
/* General Text Boxes */
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    padding: 3px 0;
    text-decoration: none;
}

.text.header {
    background-color: var(--main);
    color: var(--color0);
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.7rem;
    height: 35px;
    padding: 0;
    margin-bottom: 5px;
}
.text.header.note {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text.info {
    color: var(--color0);
    font-size: 1.5rem;
    justify-content: center;
    padding: 5px;
}
.text.info.left {
    width: 200px;
    white-space: nowrap;
    justify-content: flex-start;
}
.text.info.center {
    font-weight: bolder;
}
.text.info.body {
    color: var(--foreground);
    padding: 10px;
    font-size: 1.5rem;
}
.text.info.right {
    display: grid;
    grid-auto-flow: column;
    width: 200px;
    grid-column-gap: 5px;
    justify-content: flex-end;
}



::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em
}
::-webkit-scrollbar-button {
    background: none;
    height: 0em
}
::-webkit-scrollbar-track-piece {
    background: none
}
::-webkit-scrollbar-thumb {
    background: #eee
}​
