<!DOCTYPE html>
<html>

<head>
    <title>Hmm</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/jquery.3.4.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
</head>

<body>
    <div id="main">

        <div class="inputdiv">
            <form id="inputform" method="POST">
                <textarea id="inputbar" autocomplete="off" spellcheck="false" name="inputbar" placeholder="Hmm?"
                    autofocus></textarea>
                <div id="inputbarbuttondiv">
                    <button class="button main" id="searchnote" type="submit" formaction="/searchnote">Search</button>
                    <button class="button main" id="addnote" type="submit" formaction="/addnote">add</button>
                </div>
            </form>
        </div>

        <div id="notediv">
            {% if notes %}
            <ul id="notelist" class="collapsible">
                {% for note in notes %}
                {% set id = note["id"] %}

                <li class="bg">
                    <div class="collapsible-header" id="noteheader">
                        <div class="text header left">{{ note["time"] }}</div>
                        <div class="text">{{ note["title"] }}</div>
                        <div class="text header right">
                            <form action="/editnote" method="POST">
                                <button type="submit" class="button note" id="{{id}}" formaction="/editnote" form="inputform"
                                    name="editNote" value="{{note['id']}}"
                                    onclick="return confirm('Are you sure you wanna edit note?')">e</button>
                            </form>

                            <form action="/delnote" method="POST">
                                <button type="submit" class="button note" name="deleteNote" value="{{note['id']}}"
                                    onclick="return confirm('Are you sure you wanna delete?')">x</button>
                            </form>
                        </div>
                    </div>

                    <div class="collapsible-body" id="notetext">
                        <pre contenteditable="true" spellcheck="false" id="{{note['id']}}">{{ note["content"] }}</pre>
                    </div>
                                <script type="text/javascript">
                $("{{id}}").click(function () {
                    var fired_button = $(this).val();

                    alert(fired_button);
                    document.getElementById("inputbar").value = document.getElementById(fired_button).innerText;
                });
            </script>
                </li>

                {% endfor %}
            </ul>
            {% else %}
            <div class="text" style="color: var(--fg); background: var(--bg)">There are no notes. Add one above.</div>
            {% endif %}


        </div>
    </div>
</body>

</html>
