<!DOCTYPE html>
<html>

<head>
    <title>Hmm</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <script src="/static/js/jquery.3.4.1.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
</head>

<body>
    <div style="display: grid; grid-row-gap: 20px; width: 90%;">
        <div class="addnote" style="display: grid; grid-row-gap: 5px;">
            <form method="post" action="/addnote"
                style="display: grid; width: 100%; grid-template-columns: 1fr auto; grid-column-gap: 5px;">
                <textarea id="inputbar" autocomplete="off" type="text" name="inputbar" placeholder="Hmm?"
                    autofocus></textarea>
                <div style="display:grid; grid-row-gap: 2px;">
                    <button class="button main" id="searchButton" type="submit" formaction="/searchnote">Search</button>
                    <button class="button main" id="addButton" type="submit">add</button>
                </div>
            </form>
        </div>

        <div id="notelist" style="max-height: 80vh; overflow: auto;">
            {% if notes %}
            <ul class="collapsible" style="display: grid; grid-row-gap: 5px;scroll-behavior: smooth;">
                {% for note in notes %}

                <li class="bg">
                    <div class="collapsible-header" id="noteheader"
                        style="display: flex; background-color: var(--main); justify-content: space-between;">
                        <div class="text" style="width:200px; justify-content: flex-start">{{ note["time"] }}</div>
                        <div class="text">{{ note["title"] }}</div>
                        <div class="text"
                            style="display: grid; grid-auto-flow: column; grid-column-gap: 3px; width: 200px; justify-content: flex-end;">
                            <form action="/editnote" method="post">
                                <button type="submit" class="button note" formaction="/editnote" form="inputbar"
                                    name="editNote" value="{{note['id']}}"
                                    onclick="return confirm('Are you sure you wanna edit note?')">e</button>
                            </form>

                            <form action="/delnote" method="post">

                                <button type="submit" class="button note" name="deleteNote" value="{{note['id']}}"
                                    onclick="return confirm('Are you sure you wanna delete?')">x</button>
                            </form>
                        </div>
                    </div>

                    <div class="notetext collapsible-body" id="notecontent">
                        <pre>{{ note["content"] }}</pre>
                    </div>
                </li>

                {% endfor %}
            </ul>
            {% else %}
            <div class="text bg" style="color: var(--fg)">No results for: {{ searchterm }}</div>
            {% endif %}

        </div>
    </div>
</body>

</html>